<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/static/js/authentication.js"></script>
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="/static/css/change_password.css">
    
    <title>Change password</title>
</head>
<body>
    <div class="navigateButton">
        <a href="/">Main page</a><br>
    </div>
    
    <div class="newData">
        <input type="password" name="oldPassword" id="oldPassword" placeholder="Old password"><br>
        <input type="password" name="newPassword" id="newPassword" placeholder="New password"><br>
    </div>

    <input type="button" value="Change password" id="changePassword">

    <p style="visibility: hidden; color: greenyellow; font-size: 17px; font-weight: 600; margin-left: 25px;" id="status">Changed</p>
    <p style="visibility: hidden;" class="error" id="errorRequiredFields">Required fields is empty</p>
    <p style="visibility: hidden;" class="error" id="notToken">Request data isn't yours</p>
    <p style="visibility: hidden;" class="error" id="wrongOldPassword">Wrong old password</p>
</body>
<script>
    $("#changePassword").on("click", function(){
        
        var token = localStorage.getItem('token');
        var prefix = "Bearer";
        
        var oldPassword = $("#oldPassword").val()
        var newPassword = $("#newPassword").val()
        
        if(!isAuthenticated()){
            $("#notToken").css("visibility", "visible");
            return;
        }

        if(oldPassword === "" || newPassword === ""){
            $("#errorRequiredFields").css("visibility", "visible");
            return;
        }

        $.ajax({
            url: "/api/v1/user-info/change-password",
            method: "PUT",
            dataType: "json",
            headers: authHeaders(),
            contentType: "application/json;  charset=utf-8",
            data: JSON.stringify({
                old_password: oldPassword,
                new_password: newPassword
            }),
            success: function(result){
                $("#status").css("visibility", "visible");
            },
            error: function(result, request, status, error){
                if(result.responseJSON.error_old_password){
                    $("#wrongOldPassword").css("visibility", "visible");
                }
            }
        });
    });
</script>
</html>