<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>Change password</title>
</head>
<body>
    <a href="/">Main page</a><br><hr>
    Old password: <input type="password" name="oldPassword" id="oldPassword"><br>
    New password: <input type="password" name="newPassword" id="newPassword"><br>
    <input type="button" value="Change password" id="changePassword">

    <p style="visibility: hidden;" id="status">Changed</p>
    <p style="visibility: hidden;" id="errorRequiredFields">Required fields is empty</p>
    <p style="visibility: hidden;" id="notToken">Request data isn't yours</p>
    <p style="visibility: hidden;" id="wrongOldPassword">Wrong old password</p>
</body>
<script>
    $("#changePassword").on("click", function(){
        
        var token = localStorage.getItem('token');
        var prefix = "Bearer";
        
        var oldPassword = $("#oldPassword").val()
        var newPassword = $("#newPassword").val()
        
        if(!token){
            $("#notToken").css("visibility", "visible");
            return;
        }

        if(oldPassword === "" || newPassword === ""){
            $("#errorRequiredFields").css("visibility", "visible");
            return;
        }

        $.ajax({
            url: "/api/v1/user-info/change-password",
            method: "PUT",
            dataType: "json",
            headers: {"Authorization":`${prefix} ${token}`},
            contentType: "application/json;  charset=utf-8",
            data: JSON.stringify({
                old_password: oldPassword,
                new_password: newPassword
            }),
            success: function(result){
                $("#status").css("visibility", "visible");
            },
            error: function(result, request, status, error){
                if(result.responseJSON.error_old_password){
                    $("#wrongOldPassword").css("visibility", "visible");
                }
            }
        });
    });
</script>
</html>