<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>Create post</title>
</head>

<body>
    <a href="/">Main page</a><br>
    <hr>

    Title: <input type="text" id="title" name="title"><br>
    Body: <input type="text" id="body" name="body"><br>
    File: <input type="file" id="file" multiple><br>
    <input type="button" id="post" name="post" value="Post">
    
    <p style="visibility: hidden;" id="status">Published</p>
    <p style="visibility: hidden;" id="notTitleOrBody">Not title or body</p>
    <p style="visibility: hidden;" id="wrongFileExtension">Wrong file extension</p>

</body>

<script>
    $("#post").on("click", function(){

        let token = localStorage.getItem('token');
        let prefix = "Bearer";        
        
        let title = $("#title").val();
        let body = $("#body").val();
        let file = document.getElementById("file").files[0];
        
        let formData = new FormData();
        formData.append("file", file);
        
        if(title === "" || body === ""){
            return $("#notTitleOrBody").css("visibility", "visible");
            return;
        }
        if(token){        
                $.ajax({
                    url: "/api/v1/upload-file",
                    method: "POST",
                    processData: false,
                    contentType:false,
                    data: formData,
                    success: function(result){
                        file_id = result.id
                        $.ajax({      
                            url: "/api/v1/create-post",
                            method: "POST",
                            dataType: "json",
                            headers: {"Authorization": `${prefix} ${token}`},
                            contentType: "application/json;  charset=utf-8",
                            data: JSON.stringify({
                                title: title,
                                body: body,
                                file_id: file_id
                            }),
                            success: function(result){
                                return $("#status").css("visibility", "visible");        
                            }
                        });  
                    },
                    error: function(request,status,error){
                        return $("#wrongFileExtension").css("visibility", "visible");
                    }
                });
            }
                
        });
</script>
</html>