<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<title>Page Title</title>
</head>
<body>

    <div>
        <a href="/registrate" style="visibility: visible;" id="registerPageLink"> Register page </a><br>
        <a href="/login" style="visibility: visible;" id="loginPageLink"> Login Page </a><br>
        <a href="/create-post" style="visibility: hidden;" id="createPost"> Create post </a><br>
        <a href="/user-posts" style="visibility: hidden;" id="userPosts"> User Post </a><br>
        <a href="/user-info/edit" style="visibility: hidden;" id="editUserInfo"> Edit user info </a><br>
    </div>
    
    <header> 
        <h3><p id="userFullName"></p></h3>
        
        <input style="visibility: hidden;" type="button" id="logOut" name="logOut" value="Log out">
    </header> 
    
    <p id="errorUserToken" style="visibility: hidden; color: crimson;">User doesn't login</p>

</body>

<script type="text/javascript">
    let token = localStorage.getItem('token');
    let prefix = "Bearer";
    if (token){
        
        $( "#loginPageLink").css( "visibility", "hidden" );
        $( "#registerPageLink").css( "visibility", "hidden" );
        $("#createPost").css("visibility","visible")
        $("#userPosts").css("visibility","visible")
        $("#logOut").css("visibility","visible");
        $("#editUserInfo").css("visibility", "visible")
        $.ajax({
            url: "/api/v1/user-info",
            method: "GET",
            headers: {"Authorization": `${prefix} ${token}`},
            success: function(result){
                $("#userFullName").text(result.info);
            },
            error: function(request, statusCode, error){
                $("#errorUserToken").css("visibility", "visible")
            }
        })
    }
    $("#logOut").on("click", function(){
        localStorage.clear();
        location.reload();
    });
</script>
</html>