<!DOCTYPE html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="/static/js/authentication.js"></script>
  
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
  <link rel="stylesheet" href="/static/css/login.css">
  
  <title>Page Title</title>
</head>

<body>
  <div class="navigateButton">
    <a href="/"> Main page </a>
  </div>
  <div class="data">
    <input type="text" name="phoneNumber" id="phoneNumber" placeholder="Phone number"><br>
    <input type="password" name="password" id="password" placeholder="Password"><br>
  </div>
  
  <input type="button" id="loginButton" name="loginButton" value="Login Button">

  <p style="visibility: hidden;" class="error" id="errorRequiredFields">Required fields is empty</p>
  <p style="visibility: hidden;" class="error" id="loginOrPasswordInvalid">Login or password invalid</p>

</body>
<script type="text/javascript">

  $("#loginButton").on('click', function () {
    var phoneNumber = $("#phoneNumber").val();
    var password = $("#password").val();
    
    if (phoneNumber === "" || password === "") {
      $('#errorRequiredFields').css("visibility", "visible");
      return
    }
    $.ajax({
      url: "/api/v1/login",
      method: "POST",
      dataType: "json",
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify({
        phone_number: phoneNumber,
        password: password,
      }),
      success: function (result) {
        localStorage.setItem('token', result.access_token);
        top.location.href = "/"
      },
      error: function (request, status, error) {
        $('#loginOrPasswordInvalid').css("visibility", "visible");
      }
    });
  });
</script>

</html>