<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <a href="/">Main page</a><br>
    <a href="/user-posts">User posts</a><br>
    <div id="post">

    </div>
    <div id="comments">

    </div>
    <p style="visibility: hidden;" id="wrongPostId">Wrong post id</p>
</body>
<script>
    
    let token = localStorage.getItem('token');
    let prefix = "Bearer";
    let urlPathName = window.location.pathname;
    let splitUrlPathName = urlPathName.split("/");
    let postId = splitUrlPathName[3];

    if (token){
    
        $.ajax({
            url: `/api/v1/post-comments/post/${postId}`,
            method: "GET",
            headers: {"Authorization": `${prefix} ${token}`},
            success: function(result){
                let post = result.post;
    
                let userName = post["user_name"];
                let title = post["title"];
                let body = post["body"];
                let created = post["created"];
                let image;
                let deleted;
                if(post["file"] !== null){
                        image = post["file"]["url"];
                        deleted = post["file"]["deleted"];
                    }    
                $("#post").append(
                        `<hr>
                        <p> User name:${userName}<br>
                        Title :${title}<br>
                        Body :${body}<br>
                        created:${created}</p>`
                        );
                        if (image){        
                            $("#post").append(
                            `<img src="/static/uploads/${image}" widht="250" height="250"><br>`
                        )}
                    
                $.each(post["comments"], function(index){
                    
                    let comments = post["comments"];
                    let userName = comments[index]["user_name"];
                    let text = comments[index]["text"];
                    let created = comments[index]["created"];
                    
                    $("#comments").append(
                        `<p>
                            <hr>
                            Author full name:${userName}<br>
                            Text :${text}<br>
                            created:${created}
                            </p>`
                    )
                });
                    
            },
            error: function(result,request, status, error){
                if(result.responseJSON.error){
                    $("#wrongPostId").css("visibility", "visible")
                }
            }
        });
    }
</script>
</html>