<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="/static/css/post_with_comments.css">
    <title>Document</title>
</head>
<body>
    
    <div class="navigateButton">
        <a href="/">Main page</a>
        <a href="/user-posts">User posts</a><br>
    </div>

    <div id="post">

    </div>
    <div class="createComment">
        <br>
        <textarea id="comment" cols="55" rows="5" style="resize: none;"></textarea><br>
        <input id="createComment" type="button" value="Create comment">
    </div>
    <div id="comments">
        <p class="text">Comments</p>

    </div>
    <p style="visibility: hidden; color: red; font-size: 17px; font-weight: 600; margin-left: 251px;" id="wrongPostId">Wrong post id</p>
</body>
<script>
    
    let token = localStorage.getItem('token');
    let prefix = "Bearer";
    let urlPathName = window.location.pathname;
    let splitUrlPathName = urlPathName.split("/");
    let postId = splitUrlPathName[2];

    if (token) {
        $.ajax({
            url: `/api/v1/post-comments/post/${postId}`,
            method: "GET",
            headers: {"Authorization": `${prefix} ${token}`},
            success: function(result){
                let post = result.post;
    
                let userName = post["user_name"];
                let title = post["title"];
                let body = post["body"];
                let created = post["created"];
                let image;
                let deleted;
                if(post["file"] !== null){
                        image = post["file"]["url"];
                        deleted = post["file"]["deleted"];
                    }    
                $("#post").append(
                        `
                        <hr>
                        <p class="text"> User name:${userName}<br>
                        Title :${title}<br>
                        Body :${body}<br>
                        created:${created}</p>
                        `);
                        if (image){        
                            $("#post").append(
                            `<img src="/static/uploads/${image}" widht="370" height="370" style="border-radius: 10px;"><br>`
                        )}
                    
                $.each(post["comments"], function(index){
                    
                    let comments = post["comments"];
                    let userName = comments[index]["user_name"];
                    let text = comments[index]["text"];
                    let created = comments[index]["created"];
                    let commentId = comments[index]["id"]
                    $("#comments").append(
                        `<hr>
                        <p class="text">
                        Comments: <br>
                        Author full name:${userName}<br>
                        Text :${text}<br>
                        created:${created}<br>
                        </p>
                        <a href="/update-comment/update/${commentId}">Update comment</a>`
                        )
                });
                
            },
            error: function(result,request, status, error){
                if(result.responseJSON.error){
                    $("#wrongPostId").css("visibility", "visible")
                }
            }
        });
    }   
</script>
</html>