<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/static/js/authentication.js"></script>
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="/static/css/registrate.css">
    
    <title>Document</title>
</head>
<body>
    
    <div class="navigateButton">
        <a href="/"> Main page </a>
    </div>

    <div class="data">
        <input type="text" id="phoneNumber" placeholder="PhoneNumber" name="phoneNumber"><br>
        <input type="text" id="firstName" placeholder="FirstName" name="firstName"><br>
        <input type="text" id="secondName" placeholder="SecondName" name="secondName"><br>
        <input type="password" id="password" placeholder="Password" name="password"><br>
        <input type="password" id="repeatingPassword" placeholder="RepeatingPassword" name="repeatingPassword"><br>
    </div>
    
    <input type="button" id="registrateButton" name="registrateButton" value="Registrate Button">
    
    <p style="visibility: hidden;" class="error" id="errorRequiredFields">Required fields is empty</p>
    <p style="visibility: hidden;" class="error" id="wrongRepeatingPassword">Wrong repeating password</p>
    <p style="visibility: hidden;" class="error" id="phoneNumberExist">Phone number exist</p>

<script>
    $("#registrateButton").on("click", function(){

        let phoneNumber = $("#phoneNumber").val();
        let firstName = $("#firstName").val();
        let secondName = $("#secondName").val();
        let password = $("#password").val();
        let repeatingPassword = $("#repeatingPassword").val();

        if (repeatingPassword !== password){
            $("#wrongRepeatingPassword").css("visibility", "visible");
            return
        }
        if(phoneNumber === "" || firstName === ""|| secondName === "" || password === ""){
            $("#errorRequiredFields").css("visibility", "visible");
            return
        }
        $.ajax({
            url: "/api/v1/register-user",
            method: "POST",
            dataType: "json",
            contentType: "application/json;  charset=utf-8",
            data: JSON.stringify({
                
                phone_number: phoneNumber,
                first_name: firstName,
                second_name: secondName,
                password: password,
            }),
            success: function(result){
                top.location.href = "/login"    
            },
            error: function(request, status, error){
                $("#phoneNumberExist").css("visibility", "visible");
            }
        });
    });
</script>
</html>