<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/static/js/authentication.js"></script>
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="/static/css/update_post.css">
    
    <title>Update post</title>
</head>
<body>
    <div class="navigateButton">
        <a href="/">Main page</a>
        <a href="/user-posts">User posts</a><br>
    </div>
    <div class="newData">
        <input type="text" id="title" name="title" placeholder="New Title"><br>
        <input type="text" id="body" name="body" placeholder="New Body"><br>
        <input type="file" id="file" multiple><br>
    </div>
    
    <input type="button" class="updatePostButton" id="update" name="update" value="Update"><br>
    
    <input type="button" class="updatePostButton" id="delete" name="delete" value="Delete"><br>
    
    <p style="visibility: hidden;" id="confirmMessange">You wonna delete post?</p>
    <div class="confirmButtons">
        <input type="button" style="visibility: hidden;" value="No" id="confirmNo" name="confirmNo">
        <input type="button" style="visibility: hidden;" value="Yes" id="confirmYes" name="confirmYes"><br>
    </div>

    <p style="visibility: hidden;  font-size: 17px; font-weight: 600; color: greenyellow; margin-left: 25px;" id="status">Update</p>
    <p style="visibility: hidden;  font-size: 17px; font-weight: 600; color: greenyellow; margin-left: 25px;" id="deleted">Deleted</p>

    <p style="visibility: hidden;" class="error" id="wrongFileExtension">Wrong file extension</p>
    <p style="visibility: hidden;" class="error" id="wrongPostId">Wrong post id</p>
</body>
<script>
    $("#update").on("click", function(){
        
        let urlPathName = window.location.pathname;
        let splitUrlPathName = urlPathName.split("/");
        let postId = splitUrlPathName[3];
        
        let token = localStorage.getItem('token');
        let prefix = "Bearer";  
        
        let newTitle = $("#title").val();
        let newBody = $("#body").val();
        let newFile = $("file").val();
        let file = document.getElementById("file").files[0];
        
        let formData = new FormData();
        formData.append("file", file);
        
        if (!isAuthenticated()) {
            $("#notToken").css("visibility", "visible");
            return;
        }        

            $.ajax({
                url: "/api/v1/upload-file",
                method: "POST",
                processData: false,
                contentType:false,
                data: formData,
                success: function(result){
                    file_id = result.id
                    $.ajax({      
                        url: `/api/v1/update-post/update/${postId}`,
                        method: "PUT",
                        dataType: "json",
                        headers: authHeaders(),
                        contentType: "application/json;  charset=utf-8",
                        data: JSON.stringify({
                            title: newTitle,
                            body: newBody,
                            file_id: file_id
                        }),
                        success: function(result){
                            return $("#status").css("visibility", "visible");        
                        }
                    })  
                },
                error: function(request,status,error){
                    return $("#wrongFileExtension").css("visibility", "visible");
                }
            });
        
    });
    $("#delete").on("click", function(){
        $("#confirmMessange").css("visibility", "visible")
        $("#confirmNo").css("visibility", "visible")
        $("#confirmYes").css("visibility", "visible")
    });
    $("#confirmYes").on("click", function(){
        let urlPathName = window.location.pathname;
        let splitUrlPathName = urlPathName.split("/");
        let postId = splitUrlPathName[3];
        let token = localStorage.getItem('token');
        let prefix = "Bearer";  
        
        if(token){
            $.ajax({
                url: `/api/v1/delete-post/delete/${postId}`,
                method: "DELETE",
                headers: {"Authorization": `${prefix} ${token}`},
                success: function(result){
                    $("#deleted").css("visibility", "visible");
                },
                error: function(result, request, status, error){ 
                    $("#wrongPostId").css("visibility", "visible");
                }
            });
        }
    });
    $("#confirmNo").on("click", function(){
        $("#confirmMessange").css("visibility", "hidden")
        $("#confirmNo").css("visibility", "hidden")
        $("#confirmYes").css("visibility", "hidden") 
    })
</script>
</html>