<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>User Posts</title>
</head>
<body>
    <a href="/">Main page</a><br>
    <div id="post">

    </div>
    <hr>
</body>
<script>
    let token = localStorage.getItem('token');
    let prefix = "Bearer";
    
    if (token){
    
        $.ajax({
            url: "/api/v1/user-posts",
            method: "GET",
            headers: {"Authorization": `${prefix} ${token}`},
            success: function(result){
                let post = result.post;

                $.each(post, function(index){
                    
                    let post_id = post[index]["id"];
                    let userName = post[index]["user_name"];
                    let title = post[index]["title"];
                    let body = post[index]["body"];
                    let created = post[index]["created"];
                    let image;
                    let deleted;
                    if(post[index]["file"] !== null){
                        image = post[index]["file"]["url"];
                        deleted = post[index]["file"]["deleted"];
                    }    
                    $("#post").append(
                            `<hr>
                            <p>User name:${userName}<br>
                            Title :${title}<br>
                            Body :${body}<br>
                            created:${created}</p>
                            `);
                    if (image){        
                        $("#post").append(
                        `<img src="/static/uploads/${image}" widht="250" height="250"><br>`
                        )
                    }
                    $("#post").append(
                        `<a href="/create-comment/post/${post_id}">Comment</a><br>
                        <a href="/post-comments/post/${post_id}">Comments</a><br>
                        <a href = "/user-posts/update/${post_id}">Update post</a><br>`
                    );
                });
            }
            })
                
                    
            }
    
</script>
</html>