<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/static/js/authentication.js"></script>
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="/static/css/user_info_edit.css">
    
    <title>Document</title>
</head>
<body>
    <div class="navigateButton">
        <a href="/"> Main page </a>
    </div>

    <div class="newData">
        <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Phone number"><br>
        <input type="text" id="firstName" name="firstName" placeholder="First name"><br>
        <input type="text" id="secondName" name="secondName" placeholder="Second name"><br>
    </div>
        
    <input type="button" id="updateButton" name="updateButton" value="Edit">

    <p style="visibility: hidden;" class="error" id="phoneNumberExist">Phone number exist</p>
</body>
<script>
    $("#updateButton").on("click", function(){
        
        let token = localStorage.getItem('token');
        let prefix = "Bearer";
        
        let phoneNumber = $("#phoneNumber").val();
        let firstName = $("#firstName").val();
        let secondName = $("#secondName").val();
        console.log(phoneNumber, firstName, secondName)
        if (!isAuthenticated()) {
            $("#notToken").css("visibility", "visible");
            return;
        }
        $.ajax({
            url: "/api/v1/user-info/edit",
            method: "PUT",
            dataType: "json",
            headers: authHeaders(),
            contentType: "application/json;  charset=utf-8",
            data: JSON.stringify({
                phone_number: phoneNumber,
                first_name: firstName,
                second_name: secondName,
                }),
            success: function(result){
                top.location.href = "/"
            },
            error: function(request, status, error){
                $("#phoneNumberExist").css("visibility", "visible");
                return;
            }
            });
        
        });
</script>
</html>