<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/static/js/authentication.js"></script>
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="/static/css/user_posts.css">
    
    <title>User Posts</title>
</head>
<body>
    <a href="/" style="margin-left: 500px;">Main page</a><br>
    <div id="post">

    </div>
</body>
<script>
    let token = localStorage.getItem('token');
    let prefix = "Bearer";
    
    if (isAuthenticated()) {
        $.ajax({
            url: "/api/v1/user-posts",
            method: "GET",
            headers: authHeaders(),
            success: function(result){
                let post = result.post;

                $.each(post, function(index){
                    
                    let post_id = post[index]["id"];
                    let userName = post[index]["user_name"];
                    let userId = post[index]["author_id"]
                    let title = post[index]["title"];
                    let body = post[index]["body"];
                    let created = post[index]["created"];
                    let image;
                    let deleted;
                    if(post[index]["file"] !== null){
                        image = post[index]["file"]["url"];
                        deleted = post[index]["file"]["deleted"];
                    }    
                    $("#post").append(
                            `<hr>
                            <p class="text">User name:${userName}<br>
                            Title:${title}<br>
                            Body:${body}<br>
                            created:${created}</p>
                            `);
                    if (image){        
                        $("#post").append(
                        `<img src="${image}" widht="370" height="370" style="border-radius: 10px;"><br>`
                        )
                    }
                    $("#post").append(
                        `<a href = "/user-posts/update/${post_id}" style="margin-top: 10px;">Update post</a><br>`
                    );
                });
            }
        });
    }       
    </script>
</html>